<!doctype html>


<head><title>Trading Algorithm Bot</title> 
    <meta charset=utf-8> </head>
    <body>
        <h1>Test my Trading Algorithm</h1>
        <p>The algorithm trades crypto currencies on Binance</p>
        <p>** Note: The Algorithm takes some time to load **</p>
        <p>If an error occurs: go back to the homepage, refresh the page and reclick the run algo button</p>
        
        <form action="/my-link/">
            <input type="submit" value="See Account Balance" />
        </form>
        
        <form action="/my-link2/">
            <input type="submit" value="Run Algorithm" />
        </form>

    </body>