<!doctype html>


<head><title>Football Analytics</title> 
    <meta charset=utf-8> </head>
    <body>
        <h1>Football Analytics: By Elijah Cavan</h1>
        <p>Linkedin: https://www.linkedin.com/in/elijah-cavan-msc-14b0bab1/ <br/>  </p>
        <p>Website: https://elicavan.wixsite.com/site <br/>  </p>
        
        <p>I've created this web app so you can explore some of the work I've done with football statistics. <br/>  <br/> See more by checking out: Medium: https://ecavan.medium.com/ and Kaggle: https://www.kaggle.com/sportsstatseli.<br/>  </p>
        
        <h1>Input a Team Name</h1>
        
        <p>The index '0' corresponds to the 2019 stats, whereas the '1' index refers to stats from 2020. <br/> My custom stat is the 'Missed stops' statistic - which weights each stat accordingly to give an indication <br/> of how often a defense can 'get off the field'.Teams with low Missed Stop % tend to have strong defenses. <br/> </p>

        <form action = 'd' method="POST">
            <input name="text">
            <input type="submit">

        </form>
        
        <h1>Input a QB Full Name</h1>
        
                <p>The index '0' corresponds to the 2019 stats, whereas the '1' index refers to stats from 2020. <br/> My custom stat is the 'Efficient Yards' statistic - which weights each stat accordingly to give an indication <br/> of how efficient a QB is- an adjustment over the Yards per Att metric. QBs with high Effiecent Yards over Average tend to be the Star QBs <br/> </p>

        
        <form action = 'q' method="POST">
            <input name="qb">
            <input type="submit">
        </form>

        <h1>Blue Jays Hitters</h1>

        <p> Input a last name to see 2020 stats for some of the top hitters on this years Blue Jays Team. <br/> Options: Bichette, Guerrero Jr., Hernandez, Semien, Springer, Biggio, Grichuk (remember the period after Jr for Vladdy) </p>

        <form action = 'b' method="POST">
            <input name="ball">
            <input type="submit">
        </form>

    </body>